* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgna(0, 0, 0, 0.2);
    border-radius: 8px;
}
form {
    display:flex;
    flex-direction: column;
}

.btn-primary {
    background-color: #0f0c29;
    color: #fff;
    border: none;
    padding: 7px 11px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1465bb;
}

.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #0f0c29;
    color: #fff;
    border: none;
    padding: 7px 11px;
    border-radius: 4px;
    cursor: pointer;
}

.continue-button:hover {
    background-color: #1465bb;
}
